body {
  min-width: 300px;
  color: #4a4a4a;

}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #00A9CB;
}

.header {
  background-color: #2b333d;
  height: 24px;
  width: 100%;
  position: relative;
  z-index: 10;
}

@media (max-width:767px) {
  section.top {
    text-align: center;
  }
}

.source-banner {
  background: url("images/github-corner-background.png") top right no-repeat;
  position: absolute;
  top: 25px;
  right: 0;
  width: 900px;
  height: 100px;
}

.source-banner p {
  background: url("images/github-corner-logo.png") center left no-repeat;
  font-size: 12px;
  color: #417505;
  padding: 10px 0 0 50px;
  margin-left: 130px;
}

.terria-logo {
  padding: 0px 0;
}

.terria-description {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight:lighter
  max-width: 900px;
  display: inline-block;
  vertical-align: bottom;
  margin-top: 20px;
  color:#221f1f
}

section {
  margin-bottom: 0px;
}

section .container {
	min-height: 150px;
	padding-bottom: 20px;
	max-width: 100%;
}

.predictive-analytics {
  background: rgba(163, 220, 231, 0.6);
}

.predictive-analytics-background {
  background: url("images/predictive-analytics-graph.png") right center no-repeat;
}

@media (max-width:767px) {
  .predictive-analytics-background {
    background: none;
  }
}

.background {
  background: #2B333D;
  color: #E6E6E6;
}

.nationalmap-screenshot img {
  width: 100%;
  max-width: 500px;
}

@media (max-width:767px) {
  .nationalmap-screenshot {
    text-align: center;
  }
}

.develop {
  background: rgba(163, 220, 231, 0.6);
}

.develop-background {
  background: url("images/github-background-logo.png") right center no-repeat;
}

@media (max-width:767px) {
  .develop-background {
    background: none;
  }
}

footer {
  text-align: center;
  background: #2B333D;
  color: #CBCBCB;
  line-height: 50px;
}



/* Media queries for reference */
/* @media(max-width:767px){} */
/* @media(min-width:768px){} */
/* @media(min-width:992px){} */
/* @media(min-width:1200px){} */
