$header-height: 450px;
$header-color: rgba(100, 11, 20, 0);

header{
  height: $header-height;
  background: $header-color;
  color: #fff;
  text-align: center;
  position: relative;

  h1{
    font-weight: 400;
  }

  button{
    background: #fff;
    color: #000;
    padding: 10px;
    border-radius: 50px;
    border: 0;
    box-shadow: none;
  }

  .content{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $header-color;
    padding-top: 50px;
  }
}


#terrain{
  canvas{
    background: #26262C;
  }
}
