doctype html
html(class='no-js', lang="en")
  include ./includes/head.jade
  body(class='terria')
    header
      #terrain
      .row
        .container.content
          h1
            strong Terria
            span  is a browser-based platform for exploring and analysing spatial data
          p
            span Open Source
            span Catalogue Enabled
            span Supports 2D & 3D Visualisation

          button Get Started with Terria

    main.container
      .row
        .col-sm-6
          include:markdown ./content/section.md
    include ./includes/foot.jade
